body{
    display: flex;
    background-color: bisque;
    user-select: none;
}

header{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.input{
    text-align: right;
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 50px;
    padding: 0;
    border: none;
    margin: auto;
    font-size: 35px;
}

.icon{
    font-size: 15px;
}

.calculator{
    width: 100%;
    margin: auto;
    text-align: center;
}

.input-aline{
    width: 400px;
}

.button-aline{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding-top: 10px;
    grid-gap: 5px;
}

.btn{
    padding: 15px;
    gap: 5px;
    font-size: 25px;
    
}